.info-card__text {
  max-width: 50%;
  margin: 85px;
}

@media screen and (max-width: 1024px) {
  .info-card__text {
    margin: 50px;
  }
}

@media screen and (max-width: 900px) {
  .info-card__text {
    margin: 35px;
  }
}

@media screen and (max-width: 628px) {
  .info-card__text {
    max-width: 100%;
    margin: 20px 15px;
  }
}

