.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 58px 80px 95px;
}

@media screen and (max-width: 632px) {
  .header {
    justify-content: center;
    margin: 30px auto;
  }
}
