.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 65%;
}

@media screen and (max-width: 628px) {
  .intro__text {
    max-width: 90%;
    margin: 0 auto;
  }
}
