.nav-bar__list {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 632px) {
  .nav-bar__list {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}
